# SETUP

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import re
import pycountry
from countryinfo import CountryInfo
from currencies import Currency
import requests
import json
from bs4 import BeautifulSoup

# Airline and country

In [2]:
url = "https://www.pilotjobsnetwork.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

country_airlines = []

elements = soup.find_all("a", href=lambda href: href and "jobs" in href)
for element in elements :
    text = element.text.strip()
    country_airlines.append(text)

# country_airlines

In [3]:
airlines_by_country = []
for text in country_airlines:
    # Regex pattern to match the country and airline
    apattern = r'^[^-]*-[^-]*-\s*([^(]+)'
    cpattern = r'(\w+)\s\((\w{2})\)'
    

    country_match = re.search(cpattern, text)
    country = country_match.group(1)
    airline_match = re.search(apattern, text)
    airline = airline_match.group(1)

    # Append the airline and country to the list
    airlines_by_country.append((airline, country))

# Create the table
df = pd.DataFrame(airlines_by_country, columns=['Airline', 'Country'])
df['Country'] = df['Country'].replace('UK', 'United Kingdom')
# # Print the table
# df.head(10)

In [4]:
# Define countries standard name (ISO)
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return None
# Add a column to the dataframe with the ISO code of the country
df['ISO'] = df['Country'].apply(map_country_name)

In [5]:
df_airline = df

In [6]:
df.to_csv("metadata_ctry_airlines.csv")

# Average gross income by country and Currency code (frozen)

In [7]:
url_3 = "https://www.worlddata.info/average-income.php"
df_3 = pd.read_html(url_3, attrs={'class': 'std100 hover', 'id': 'tabsort'})
df_3 = df_3[0]
df_3['Country'] = df_3['Country'].str.replace(' \*', '', regex=True)

In [8]:
# Define countries standard name (ISO)
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return None
# Add a column to the dataframe with the ISO code of the country
df_3['ISO'] = df_3['Country'].apply(map_country_name)

In [9]:
# Define a function to get the ISO code for each country
def get_iso_code(country_name):
    try:
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.alpha_3
    except LookupError:
        return None
df_3['ISO_code'] = df_3['ISO'].apply(get_iso_code)

In [10]:
def get_currency(country):
    try:
        currency = CountryInfo(country).currencies()
        return currency
    except LookupError:
        return None
df_3['Currency'] = df_3['ISO'].apply(get_currency)

def first_item_to_string(arr):
    return str(arr[0])
# df_3['Currency'] = df_3['Currency'].apply(first_item_to_string)

In [11]:
df_3.columns = ['Rank', 'Country', 'yearly_income', 'monthly_income', 'ISO', 'ISO_code', 'Currency']

In [12]:
df_3["yearly_income"] = df_3["yearly_income"].str.replace(",", "").str.replace("$", "").astype(float)
df_3["monthly_income"] = df_3["monthly_income"].str.replace(",", "").str.replace("$", "").astype(float)
df_3["Currency"] = df_3["Currency"].str.replace("[',\[\]]", "")

/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_41258/68737043.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_3["yearly_income"] = df_3["yearly_income"].str.replace(",", "").str.replace("$", "").astype(float)
/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_41258/68737043.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_3["monthly_income"] = df_3["monthly_income"].str.replace(",", "").str.replace("$", "").astype(float)
/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_41258/68737043.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_3["Currency"] = df_3["Currency"].str.replace("[',\[\]]", "")

In [13]:
df_income_code_cur = df_3

In [14]:
df_3.to_csv("metadata_ctry_salary_2.csv")

# Currency Exchange rates

In [15]:
df_V1 = pd.read_csv("METADATA_V1.csv")
df_V1

        Country  year_income_gross  month_income_gross          ISO Currency
0        Monaco             186080               15507       Monaco      EUR
1       Bermuda             122470               10206      Bermuda      BMD
2   Switzerland              90600                7550  Switzerland      CHF
3    Luxembourg              88190                7349   Luxembourg      EUR
4        Norway              83880                6990       Norway      NOK
..          ...                ...                 ...          ...      ...
64     Pakistan               1470                 123     Pakistan      PKR
65        Nepal               1220                 102        Nepal      NPR
66  Timor-Leste               1140                  95  Timor-Leste      LCU
67     Ethiopia                940                  78     Ethiopia      ETB
68  Afghanistan                390                  33  Afghanistan      AFN

[69 rows x 5 columns]

In [16]:
df_V1.to_json("ctry_salry.json", orient="records")

In [17]:
payload = {}
headers= {
  "apikey": "pPf6uwtTqHvmPDaWzHFzihcpKRAK4SC5"}
from_usd = "USD"
amount_convert = 1
def convert_usd(code_currency):
    try:
        response = requests.request("GET", f"https://api.apilayer.com/exchangerates_data/convert?to={code_currency}&from={from_usd}&amount={amount_convert}", headers=headers, data = payload)
        return json.loads(response.text)["info"]["rate"]
    except LookupError:
        return None

df_V1['XR'] = df_V1['Currency'].apply(convert_usd)

In [18]:
df_V2 = df_V1[["Currency", "XR"]]
df_V2 = df_V2.drop_duplicates()

In [19]:
df_XR = df_V2

In [20]:
df_V2.to_csv("XR_list.csv")

# Index cost of living (frozen)

In [21]:
url_4 = "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp"
df_4 = pd.read_html(url_4, attrs={'id': 't2'})
df_4 = df_4[0]

In [22]:
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return name
# Add a column to the dataframe with the ISO code of the country
df_4['ISO'] = df_4['Country'].apply(map_country_name)

df_4= df_4.replace("Hong Kong (China)", "Hong Kong")
df_4= df_4.replace("Macao (China)", "Macao")
df_4= df_4.replace("Taiwan (China)", "Taiwan")
df_4= df_4.replace("Kosovo (Disputed Territory)", "Kosovo")
df_4 = df_4[['ISO','Cost of Living Index']]
df_4 = df_4.dropna(how='any',axis=0)

In [23]:
df_index = df_4

In [24]:
df_4.to_csv("cost_of_living_index.csv")

# Average salary income tax (frozen)

In [25]:
df_5 = pd.read_csv("salary_tax.csv")
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return name
# Add a column to the dataframe with the ISO code of the country
df_5['ISO'] = df_5['Country'].apply(map_country_name)
df_5["Last"].astype(float)
df_5.columns = ["Country", "Income_tax", "ISO"]

In [26]:
df_tax = df_5

In [27]:
df_5.to_csv("income_tax_updated.csv")

# Inflation rate (frozen)

In [28]:
#Load inflation xls and add ISO countries
df_V3 = pd.read_csv("SQ_pred_database - 7 - Inflation.csv")
df_V3 

# Define a function to get the ISO name for each country
def get_iso_code(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return None
df_V3['ISO_name'] = df_V3['Country'].apply(get_iso_code)
df_inflation = df_V3
df_inflation

,ISO_code,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,ISO_name
0,ABW,Aruba,"2,08","4,32","0,63","-2,37","0,42","0,48","-0,89","-0,47","3,58","4,26","1,22","0,74","6,04",Aruba
1,AFG,Afghanistan,"2,18","11,8","6,44","7,39","4,67","-0,66","4,38","4,98","0,63","2,3","5,44","5,06",NaN,Afghanistan
2,AGO,Angola,"14,48","13,48","10,28","8,78","7,3","9,16","32,38","29,84","19,63","17,08","21,02","23,85","21,35",Angola
3,ALB,Albania,"3,57","3,41","2,03","1,93","1,62","1,91","1,29","1,99","2,03","1,41","1,62","2,04","6,73",Albania
4,ARE,United Arab Emirates,"0,88","0,88","0,66","1,09","2,34","4,07","1,62","1,97","3,06","-1,93","-2,08","0,18","5,22",United Arab Emirates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,WSM,Samoa,"-0,2","2,88","6,19","-0,21","-1,24","1,92","0,13","1,3","4,2","2,19","-1,57","-3,01","8,75",Samoa
189,YEM,"Yemen, Rep.","11,17","19,54","9,89","10,97","8,1","39,4",5,"30,4","27,6",10,"26,18","45,7","43,85",None
190,ZAF,South Africa,"4,06","5,02","5,72","5,78","6,14","4,51","6,59","5,27","4,5","4,13","3,22","4,61",7,South Africa
191,ZMB,Zambia,"8,5","6,44","6,59","6,99","7,82","10,11","17,86","6,58","7,49","9,8","15,73","22,02","10,99",Zambia
192,ZWE,Zimbabwe,"3,05","3,47","3,72","1,63","-0,21","-2,41","-1,57","0,91","10,61","255,29","557,21","98,55","284,94",Zimbabwe

In [29]:
df_inflation.to_csv("inlfation_rate_ISO.csv")

# Category

In [30]:
from tqdm.contrib.concurrent import thread_map
pd.set_option('display.max_colwidth', None)

#GET AIRLINES URLS
url = 'https://www.pilotjobsnetwork.com/'
max_urls = 5

def get_airlines_urls(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href and 'jobs/' in href:
            airline_url = url + href
            yield airline_url
##GET INFO FROM PAGES
def get_airline_tables(airline_url):
    try:
        response = requests.get(airline_url)
        # Parse the HTML content of the response using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
        # Find all text that contains the phrase "pilot jobs --->"
        matching_text = soup.find_all(text=lambda text: text and "pilot jobs --->" in text)
        # Regular expression to match text between parentheses
        for text in matching_text:
            paren_regex = r'\((.*?)\)'
            categories = []
            for text in matching_text:
                categories += re.findall(paren_regex, text)
            return [airline_url] + categories
    except NameError:
        return airline_url

# MAP IT 
list_category = list(thread_map(get_airline_tables, get_airlines_urls(url)))

#DF AS OUTPUT
df_category = pd.DataFrame([category for category in list_category if type(category) == list])

/usr/local/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
0it [00:00, ?it/s]/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_41258/4040292485.py:24: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  matching_text = soup.find_all(text=lambda text: text and "pilot jobs --->" in text)
501it [00:44, 11.20it/s]

In [31]:
# Define the regex pattern
regex_pattern = r'[^/]+(?=/?$)'

# Define a function to apply the regex pattern and replace underscores with spaces
def clean_url(url):
    match = re.search(regex_pattern, url)
    cleaned_url = match.group(0).replace('_', ' ')
    return cleaned_url
df_category[0] = df_category[0].apply(clean_url)
df_category.columns = ["Airline", "Category"]
df_category

                                      Airline                 Category
0                                 ITA Airways  Major/National/Low Cost
1    Air Hamburg Luftverkehrsgesellschaft mbH     Fractional/Corporate
2                              Kuwait Airways  Major/National/Low Cost
3                                       Hifly                  Charter
4                       DAS Private Jets GmbH     Fractional/Corporate
..                                        ...                      ...
495                                  Ellinair                 Regional
496                         Titan Airways Ltd                 Regional
497                               Aeropartner     Fractional/Corporate
498                                  Airnorth                 Regional
499                                FlyinGroup     Fractional/Corporate

[500 rows x 2 columns]

In [32]:
df_category.to_csv("category.csv")

# Conso df (to train model)

## Loading PPJN data scraping

In [33]:
df_extract_ppjn = pd.read_csv("PPJN_extract_salary.csv")
df_extract_ppjn.head()

#fill in blank with gross + remove Nan salary + convert salary to numeric
df_extract_ppjn["gross-net"] = df_extract_ppjn["gross-net"].fillna("gross")
df_extract_ppjn = df_extract_ppjn.dropna()
df_extract_ppjn["salary"] = df_extract_ppjn["salary"].str.replace(',', '.')
df_extract_ppjn["salary"] = pd.to_numeric(df_extract_ppjn["salary"])
df_extract_ppjn["Year"] = df_extract_ppjn["Year"].astype(int)

## Mapping with metadata

In [34]:
#Create df with all features
df_conso = df_extract_ppjn[["Airline", "Year", "Top/Base", "salary", "currency", "gross-net"]]

#Add category
cat_map = dict(zip(df_category['Airline'], df_category['Category']))
df_conso["Category"] = df_conso["Airline"].map(cat_map)

#Add country
country_map = dict(zip(df_airline['Airline'], df_airline['ISO']))
df_conso["Country"] = df_conso["Airline"].map(country_map)

#Add income
income_map = dict(zip(df_income_code_cur["ISO"], df_income_code_cur["yearly_income"]))
df_conso["Income"] = df_conso["Country"].map(income_map)

#Add cost of living
index_map = dict(zip(df_index["ISO"], df_index["Cost of Living Index"]))
df_conso["Index"] = df_conso["Country"].map(index_map)

/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_41258/240251770.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_conso["Category"] = df_conso["Airline"].map(cat_map)

## Standardize salary

In [73]:
df_inflation = pd.read_csv("inflation_amended.csv")
for x in range(2010, 2023):
    df_inflation[f"{x}"] = df_inflation[f"{x}"].str.replace(',', '.').astype(float)
    df_inflation.fillna(0, inplace=True)
    df_inflation[f"{x}"] = df_inflation[f"{x}"].replace(np.nan,0)
    df_inflation[f"{x}"] = df_inflation[f"{x}"]/100+1
    df_inflation["2023"] = 1
# df_inflation = df_inflation.set_index("ISO_name")

def update_year(year):
    if year < 2010:
        return 2010
    else:
        return year

df_conso['Year'] = df_conso['Year'].apply(update_year)

In [74]:
df_inflation["Cum2010"]= df_inflation["2011"]*df_inflation["2012"]*df_inflation["2013"]*df_inflation["2014"]*df_inflation["2015"]*df_inflation["2016"]*df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2011"]= df_inflation["2012"]*df_inflation["2013"]*df_inflation["2014"]*df_inflation["2015"]*df_inflation["2016"]*df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2012"]= df_inflation["2013"]*df_inflation["2014"]*df_inflation["2015"]*df_inflation["2016"]*df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2013"]= df_inflation["2014"]*df_inflation["2015"]*df_inflation["2016"]*df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2014"]= df_inflation["2015"]*df_inflation["2016"]*df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2015"]= df_inflation["2016"]*df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2016"]= df_inflation["2017"]*df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2017"]= df_inflation["2018"]*df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2018"]= df_inflation["2019"]*df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2019"]= df_inflation["2020"]*df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2020"]= df_inflation["2021"]*df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2021"]= df_inflation["2022"]*df_inflation["2023"]
df_inflation["Cum2022"]= df_inflation["2023"]
df_inflation["Cum2023"]= 1

In [75]:
df_inflation

,ISO_code,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,ISO_name,2023,Cum2010,Cum2011,Cum2012,Cum2013,Cum2014,Cum2015,Cum2016,Cum2017,Cum2018,Cum2019,Cum2020,Cum2021,Cum2022,Cum2023
0,ABW,Aruba,1.0208,1.0432,1.0063,0.9763,1.0042,1.0048,0.9911,0.9953,1.0358,1.0426,1.0122,1.0074,1.0604,Aruba,1,1.191191,1.141862,1.134714,1.162259,1.157398,1.151869,1.162213,1.167701,1.127342,1.081280,1.068247,1.0604,1,1
1,AFG,Afghanistan,1.0218,1.1180,1.0644,1.0739,1.0467,0.9934,1.0438,1.0498,1.0063,1.0230,1.0544,1.0506,1.0000,Afghanistan,1,1.660453,1.485200,1.395340,1.299320,1.241349,1.249596,1.197161,1.140370,1.133231,1.107753,1.050600,1.0000,1,1
2,AGO,Angola,1.1448,1.1348,1.1028,1.0878,1.0730,1.0916,1.3238,1.2984,1.1963,1.1708,1.2102,1.2385,1.2135,Angola,1,6.981923,6.152558,5.579033,5.128731,4.779805,4.378715,3.307686,2.547509,2.129490,1.818833,1.502920,1.2135,1,1
3,ALB,Albania,1.0357,1.0341,1.0203,1.0193,1.0162,1.0191,1.0129,1.0199,1.0203,1.0141,1.0162,1.0204,1.0673,Albania,1,1.317521,1.274075,1.248726,1.225081,1.205552,1.182957,1.167891,1.145104,1.122321,1.106716,1.089073,1.0673,1,1
4,ARE,United Arab Emirates,1.0088,1.0088,1.0066,1.0109,1.0234,1.0407,1.0162,1.0197,1.0306,0.9807,0.9792,1.0018,1.0522,United Arab Emirates,1,1.181870,1.171561,1.163879,1.151329,1.125004,1.081007,1.063774,1.043223,1.012248,1.032169,1.054094,1.0522,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,WSM,Samoa,0.9980,1.0288,1.0619,0.9979,0.9876,1.0192,1.0013,1.0130,1.0420,1.0219,0.9843,0.9699,1.0875,Samoa,1,1.230483,1.196037,1.126318,1.128688,1.142860,1.121330,1.119874,1.105503,1.060943,1.038206,1.054766,1.0875,1,1
189,YEM,"Yemen, Rep.",1.1117,1.1954,1.0989,1.1097,1.0810,1.3940,1.0500,1.3040,1.2760,1.1000,1.2618,1.4570,1.4385,Yemen,1,11.164407,9.339474,8.498930,7.658763,7.084888,5.082416,4.840396,3.711960,2.909060,2.644600,2.095894,1.4385,1,1
190,ZAF,South Africa,1.0406,1.0502,1.0572,1.0578,1.0614,1.0451,1.0659,1.0527,1.0450,1.0413,1.0322,1.0461,1.0700,South Africa,1,1.837823,1.749975,1.655292,1.564844,1.474321,1.410698,1.323481,1.257225,1.203086,1.155369,1.119327,1.0700,1,1
191,ZMB,Zambia,1.0850,1.0644,1.0659,1.0699,1.0782,1.1011,1.1786,1.0658,1.0749,1.0980,1.1573,1.2202,1.1099,Zambia,1,3.348606,3.146003,2.951499,2.758668,2.558587,2.323664,1.971546,1.849827,1.720930,1.567331,1.354300,1.1099,1,1
192,ZWE,Zimbabwe,1.0305,1.0347,1.0372,1.0163,0.9979,0.9759,0.9843,1.0091,1.1061,3.5529,6.5721,1.9855,3.8494,Zimbabwe,1,208.255935,201.271804,194.053031,190.940697,191.342517,196.067749,199.195113,197.398784,178.463777,50.230453,7.642984,3.8494,1,1

In [76]:
dog_rows = df_inflation[df_inflation['ISO_code'] == 'HKG']
dog_rows.to_excel("HKGinflation.xlsx")

pd.set_option('display.max_columns', 500)
dog_rows.head(None)

,ISO_code,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,ISO_name,2023,Cum2010,Cum2011,Cum2012,Cum2013,Cum2014,Cum2015,Cum2016,Cum2017,Cum2018,Cum2019,Cum2020,Cum2021,Cum2022,Cum2023
73,HKG,"Hong Kong SAR, China",1.0231,1.0528,1.0406,1.0432,1.0444,1.03,1.0242,1.0148,1.0241,1.0287,1.0033,1.0157,1.0188,Hong Kong,1,1.3976,1.327508,1.275714,1.222885,1.170897,1.136793,1.109933,1.093746,1.068007,1.03821,1.034795,1.0188,1,1

In [77]:
# Standardize the salary in USD/GROSS/YEARLY/EST.2023

#rate
xr_dict = dict(zip(df_XR.Currency, df_XR.XR))
df_conso['new_salary_USD'] = df_conso.apply(lambda x: x['salary'] / xr_dict[x['currency']] if x['currency'] != 'USD' else x['salary'], axis=1)
#gross
tax_dict = dict(zip(df_tax.ISO, df_tax.Income_tax))
df_conso['new_salary_USD_GROSS'] = df_conso.apply(lambda x: x['new_salary_USD'] * (1+tax_dict[x['Country']]/100) if x['gross-net'] == 'net' else x['new_salary_USD'], axis=1)
#inflation
def calculate_new_salary(row):
    country = row['Country']
    year = row['Year']
    inflation_rate = df_inflation.loc[df_inflation["ISO_name"] == country, f"Cum{year}"].values
    if len(inflation_rate) == 0:
        # handle case where inflation rate is not found
        return None
    else:
        return row['new_salary_USD_GROSS'] * inflation_rate[0]

        

df_conso["new_salary_USD_GROSS_2023"] = df_conso.apply(calculate_new_salary, axis=1)

In [78]:
pd.set_option('display.max_columns', 100)
df_conso

,Airline,Year,Top/Base,salary,currency,gross-net,Category,Country,Income,Index,new_salary_USD,new_salary_USD_GROSS,new_salary_USD_GROSS_2023
0,British Airways Mainline,2023,CaptMax,181477.5,GBP,gross,Legacy,United Kingdom,44480.0,61.5,220676.216302,220676.216302,220676.216302
1,British Airways Mainline,2023,CaptMin,87876.0,GBP,gross,Legacy,United Kingdom,44480.0,61.5,106857.010835,106857.010835,106857.010835
2,Cargo Air,2019,CaptMax,48000.0,EUR,net,Cargo,Bulgaria,NaN,40.5,51512.094611,56663.304072,68294.837584
3,Cargo Air,2019,CaptMin,42000.0,EUR,net,Cargo,Bulgaria,NaN,40.5,45073.082784,49580.391063,59757.982886
4,DHL Air UK,2023,CaptMax,172102.0,GBP,gross,Cargo,United Kingdom,44480.0,61.5,209275.630191,209275.630191,209275.630191
5,DHL Air UK,2023,CaptMin,121646.0,GBP,gross,Cargo,United Kingdom,44480.0,61.5,147921.251991,147921.251991,147921.251991
6,LOT Polish Airlines,2022,CaptMax,293160.0,PLN,gross,Major/National/Low Cost,Poland,16850.0,38.6,66845.127073,66845.127073,66845.127073
7,LOT Polish Airlines,2022,CaptMin,264120.0,PLN,gross,Major/National/Low Cost,Poland,16850.0,38.6,60223.546741,60223.546741,60223.546741
10,Eurowings GmbH,2023,CaptMax,189021.0,EUR,gross,Major/National/Low Cost,Germany,51660.0,62.9,202851.409070,202851.409070,202851.409070
11,Eurowings GmbH,2023,CaptMin,111948.0,EUR,gross,Major/National/Low Cost,Germany,51660.0,62.9,120139.082655,120139.082655,120139.082655
12,DC Aviation,2023,CaptMax,115200.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,123629.027065,123629.027065,123629.027065
13,DC Aviation,2011,CaptMin,76800.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,82419.351377,82419.351377,102023.120819
15,ASL Airlines Belgium,2010,CaptMin,37800.0,EUR,net,Cargo,Belgium,50490.0,65.6,40565.774506,60848.661759,80513.960892
17,Greater Bay Airlines,2022,CaptMin,960000.0,HKD,gross,Major/National/Low Cost,Hong Kong,54460.0,75.7,122296.498944,122296.498944,122296.498944
18,Eurowings Europe Ltd,2023,CaptMax,811368.0,SEK,gross,Major/National/Low Cost,Malta,NaN,61.4,77974.542432,77974.542432,77974.542432
19,Eurowings Europe Ltd,2023,CaptMin,521592.0,SEK,gross,Major/National/Low Cost,Malta,NaN,61.4,50126.326816,50126.326816,50126.326816
20,Avion Express,2023,CaptMax,66000.0,EUR,gross,Charter,Lithuania,NaN,48.8,70829.130090,70829.130090,70829.130090
21,Avion Express,2023,CaptMin,60000.0,EUR,gross,Charter,Lithuania,NaN,48.8,64390.118263,64390.118263,64390.118263
22,Corendon Airlines,2023,CaptMax,75000.0,EUR,gross,Major/National/Low Cost,Turkey,9900.0,28.1,80487.647829,80487.647829,80487.647829
23,Corendon Airlines,2023,CaptMin,63000.0,EUR,gross,Major/National/Low Cost,Turkey,9900.0,28.1,67609.624176,67609.624176,67609.624176
24,Hifly,2023,CaptMax,240000.0,EUR,gross,Charter,Portugal,23890.0,45.3,257560.473053,257560.473053,257560.473053
25,Hifly,2023,CaptMin,220000.0,EUR,gross,Charter,Portugal,23890.0,45.3,236097.100298,236097.100298,236097.100298
26,Air Japan,2023,CaptMax,193080.0,USD,gross,Legacy,Japan,42650.0,64.6,193080.000000,193080.000000,193080.000000
27,Air Japan,2023,CaptMin,131160.0,USD,gross,Legacy,Japan,42650.0,64.6,131160.000000,131160.000000,131160.000000
28,Air Hamburg Luftverkehrsgesellschaft mbH,2022,CaptMax,108000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,115902.212874,115902.212874,115902.212874
29,Air Hamburg Luftverkehrsgesellschaft mbH,2022,CaptMin,72000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,77268.141916,77268.141916,77268.141916
30,Aerowest,2016,CaptMax,95000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,101951.020583,101951.020583,119587.524029
31,Aerowest,2019,CaptMin,60000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,64390.118263,64390.118263,72023.971865
32,Austrian,2022,CaptMax,176358.0,EUR,gross,Major/National/Low Cost,Austria,52760.0,66.0,189261.874611,189261.874611,189261.874611
33,Austrian,2022,CaptMin,111000.0,EUR,gross,Major/National/Low Cost,Austria,52760.0,66.0,119121.718787,119121.718787,119121.718787
34,Heston Airlines,2023,CaptMax,108000.0,EUR,gross,Charter,Lithuania,NaN,48.8,115902.212874,115902.212874,115902.212874
35,Heston Airlines,2023,CaptMin,48000.0,EUR,gross,Charter,Lithuania,NaN,48.8,51512.094611,51512.094611,51512.094611
36,HOP,2018,CaptMax,134076.0,EUR,gross,Regional,France,44160.0,68.7,143886.158271,143886.158271,156598.819956
37,HOP,2018,CaptMin,69744.0,EUR,gross,Regional,France,44160.0,68.7,74847.073469,74847.073469,81459.978662
38,Aegean Airlines,2015,CaptMax,60000.0,EUR,net,Major/National/Low Cost,Greece,20000.0,54.6,64390.118263,92721.770299,103057.338256
39,Aegean Airlines,2015,CaptMin,38400.0,EUR,net,Major/National/Low Cost,Greece,20000.0,54.6,41209.675688,59341.932991,65956.696484
40,Virgin Atlantic Airways,2023,CaptMax,170938.0,GBP,gross,Major/National/Low Cost,United Kingdom,44480.0,61.5,207860.208908,207860.208908,207860.208908
41,Virgin Atlantic Airways,2023,CaptMin,134251.0,GBP,gross,Major/National/Low Cost,United Kingdom,44480.0,61.5,163248.902562,163248.902562,163248.902562
42,Loganair,2023,CaptMax,80000.0,GBP,gross,Regional,United Kingdom,44480.0,61.5,97279.813223,97279.813223,97279.813223
43,Loganair,2023,CaptMin,50000.0,GBP,gross,Regional,United Kingdom,44480.0,61.5,60799.883264,60799.883264,60799.883264
44,KLM (Royal Dutch Airlines),2023,CaptMax,303758.0,EUR,gross,Legacy,NaN,NaN,NaN,325983.559056,325983.559056,NaN
45,KLM (Royal Dutch Airlines),2023,CaptMin,139664.0,EUR,gross,Legacy,NaN,NaN,NaN,149883.024618,149883.024618,NaN
46,Private Wings Flugcharter GmbH,2023,CaptMax,72000.0,EUR,gross,Charter,Germany,51660.0,62.9,77268.141916,77268.141916,77268.141916
47,Private Wings Flugcharter GmbH,2023,CaptMin,68400.0,EUR,gross,Charter,Germany,51660.0,62.9,73404.734820,73404.734820,73404.734820
48,Volotea,2023,CaptMax,103680.0,EUR,gross,Major/National/Low Cost,Spain,29690.0,50.6,111266.124359,111266.124359,111266.124359
49,Volotea,2023,CaptMin,56400.0,EUR,gross,Major/National/Low Cost,Spain,29690.0,50.6,60526.711167,60526.711167,60526.711167
50,Global Jet,2011,CaptMax,180000.0,EUR,gross,Fractional/Corporate,Switzerland,90600.0,114.2,193170.354790,193170.354790,196935.968878
51,Global Jet,2018,CaptMin,66000.0,EUR,gross,Fractional/Corporate,Switzerland,90600.0,114.2,70829.130090,70829.130090,72961.764498
52,European Air Transport Leipzig GmbH,2023,CaptMax,135744.0,EUR,gross,Cargo,Germany,51660.0,62.9,145676.203559,145676.203559,145676.203559
53,European Air Transport Leipzig GmbH,2023,CaptMin,106476.0,EUR,gross,Cargo,Germany,51660.0,62.9,114266.703870,114266.703870,114266.703870
54,Wizz Air UK,2023,CaptMax,170000.0,GBP,gross,Major/National/Low Cost,United Kingdom,44480.0,61.5,206719.603098,206719.603098,206719.603098
55,Wizz Air UK,2023,CaptMin,120000.0,GBP,gross,Major/National/Low Cost,United Kingdom,44480.0,61.5,145919.719834,145919.719834,145919.719834
56,Eurowings Discover,2022,CaptMax,150600.0,EUR,gross,Major/National/Low Cost,Germany,51660.0,62.9,161619.196841,161619.196841,161619.196841
57,Eurowings Discover,2022,CaptMin,100200.0,EUR,gross,Major/National/Low Cost,Germany,51660.0,62.9,107531.497500,107531.497500,107531.497500
58,Air Serbia,2016,CaptMax,66000.0,EUR,gross,Major/National/Low Cost,Serbia,NaN,37.2,70829.130090,70829.130090,89805.486375
59,Air Serbia,2016,CaptMin,52800.0,EUR,gross,Major/National/Low Cost,Serbia,NaN,37.2,56663.304072,56663.304072,71844.389100
60,Tassili Airlines,2023,CaptMax,108000.0,USD,gross,Charter,Algeria,NaN,27.6,108000.000000,108000.000000,108000.000000
61,Tassili Airlines,2023,CaptMin,60000.0,USD,gross,Charter,Algeria,NaN,27.6,60000.000000,60000.000000,60000.000000
62,Air Nostrum,2010,CaptMax,72000.0,EUR,gross,Major/National/Low Cost,Spain,29690.0,50.6,77268.141916,77268.141916,95526.373066
63,Air Nostrum,2015,CaptMin,48000.0,EUR,gross,Major/National/Low Cost,Spain,29690.0,50.6,51512.094611,51512.094611,59784.477374
64,Jet2.com,2023,CaptMax,130000.0,GBP,gross,Major/National/Low Cost,United Kingdom,44480.0,61.5,158079.696487,158079.696487,158079.696487
65,Jet2.com,2023,CaptMin,130000.0,GBP,gross,Major/National/Low Cost,United Kingdom,44480.0,61.5,158079.696487,158079.696487,158079.696487
67,Trade Air,2021,CaptMin,30000.0,EUR,gross,Charter,Croatia,17630.0,46.7,32195.059132,32195.059132,35665.686506
68,Flexjet Europe,2023,CaptMax,140000.0,EUR,gross,Fractional/Corporate,Malta,NaN,61.4,150243.609281,150243.609281,150243.609281
69,Flexjet Europe,2019,CaptMin,108000.0,EUR,gross,Fractional/Corporate,Malta,NaN,61.4,115902.212874,115902.212874,125674.856122
70,CityJet,2023,CaptMax,840000.0,DKK,gross,Regional,Ireland,76110.0,70.5,121072.529652,121072.529652,121072.529652
71,CityJet,2023,CaptMin,840000.0,DKK,gross,Regional,Ireland,76110.0,70.5,121072.529652,121072.529652,121072.529652
72,SundAir,2017,CaptMax,116097.0,EUR,gross,Charter,Germany,51660.0,62.9,124591.659333,124591.659333,143687.706298
73,SundAir,2017,CaptMin,66800.0,EUR,gross,Charter,Germany,51660.0,62.9,71687.665000,71687.665000,82675.166289
76,Brussels Airlines,2019,CaptMax,150708.0,EUR,gross,Major/National/Low Cost,Belgium,50490.0,65.6,161735.099053,161735.099053,182930.595990
77,Brussels Airlines,2019,CaptMin,95328.0,EUR,gross,Major/National/Low Cost,Belgium,50490.0,65.6,102303.019897,102303.019897,115709.901628
80,Air Dolomiti,2023,CaptMax,81480.0,EUR,net,Regional,Italy,35990.0,61.3,87441.780601,125041.746260,125041.746260
81,Air Dolomiti,2023,CaptMin,76128.0,EUR,net,Regional,Italy,35990.0,61.3,81698.182052,116828.400335,116828.400335
84,Excellent Air GmbH,2023,CaptMax,84000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,90146.165568,90146.165568,90146.165568
85,Excellent Air GmbH,2023,CaptMin,72000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,77268.141916,77268.141916,77268.141916
86,Zimex Aviation,2023,CaptMax,60960.0,EUR,gross,Regional,Switzerland,90600.0,114.2,65420.360155,65420.360155,65420.360155
87,Zimex Aviation,2023,CaptMin,22800.0,EUR,gross,Regional,Switzerland,90600.0,114.2,24468.244940,24468.244940,24468.244940
88,PADAVIATION,2020,CaptMax,78000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,83707.153742,83707.153742,93156.067481
89,PADAVIATION,2020,CaptMin,66000.0,EUR,gross,Fractional/Corporate,Germany,51660.0,62.9,70829.130090,70829.130090,78824.364791
93,Buzz,2023,CaptMin,84000.0,EUR,gross,Charter,Poland,16850.0,38.6,90146.165568,90146.165568,90146.165568
94,Jet Time,2020,CaptMax,1056600.0,DKK,gross,Charter,Denmark,68300.0,78.6,152291.946227,152291.946227,167052.766969
95,Jet Time,2020,CaptMin,722712.0,DKK,gross,Charter,Denmark,68300.0,78.6,104167.345297,104167.345297,114263.713157
96,Lufthansa CityLine,2023,CaptMax,203868.0,EUR,gross,Regional,Germany,51660.0,62.9,218784.743835,218784.743835,218784.743835
97,Lufthansa CityLine,2023,CaptMin,155628.0,EUR,gross,Regional,Germany,51660.0,62.9,167015.088751,167015.088751,167015.088751
98,Luxair,2023,CaptMax,192000.0,EUR,gross,Regional,Luxembourg,88190.0,73.2,206048.378442,206048.378442,206048.378442
99,Luxair,2023,CaptMin,84000.0,EUR,gross,Regional,Luxembourg,88190.0,73.2,90146.165568,90146.165568,90146.165568
100,Swiss International Air Lines,2015,CaptMax,211000.0,CHF,gross,Legacy,Switzerland,90600.0,114.2,230526.266338,230526.266338,239933.741793
101,Swiss International Air Lines,2015,CaptMin,107000.0,CHF,gross,Legacy,Switzerland,90600.0,114.2,116901.945489,116901.945489,121672.561004
102,Atlantic Airways,2023,CaptMax,86528.0,EUR,gross,Regional,Iceland,63460.0,83.3,92859.135885,92859.135885,92859.135885
103,Atlantic Airways,2023,CaptMin,54824.0,EUR,gross,Regional,Iceland,63460.0,83.3,58835.397394,58835.397394,58835.397394
104,Exxaero,2020,CaptMax,78000.0,EUR,gross,Fractional/Corporate,Netherlands,55200.0,68.6,83707.153742,83707.153742,83707.153742
105,Exxaero,2019,CaptMin,60000.0,EUR,gross,Fractional/Corporate,Netherlands,55200.0,68.6,64390.118263,64390.118263,64390.118263

In [79]:
df_model = df_conso[["Airline", "Top/Base", "Category", "Country", "Income", "Index", "new_salary_USD_GROSS_2023"]]
df_model

,Airline,Top/Base,Category,Country,Income,Index,new_salary_USD_GROSS_2023
0,British Airways Mainline,CaptMax,Legacy,United Kingdom,44480.0,61.5,220676.216302
1,British Airways Mainline,CaptMin,Legacy,United Kingdom,44480.0,61.5,106857.010835
2,Cargo Air,CaptMax,Cargo,Bulgaria,NaN,40.5,68294.837584
3,Cargo Air,CaptMin,Cargo,Bulgaria,NaN,40.5,59757.982886
4,DHL Air UK,CaptMax,Cargo,United Kingdom,44480.0,61.5,209275.630191
5,DHL Air UK,CaptMin,Cargo,United Kingdom,44480.0,61.5,147921.251991
6,LOT Polish Airlines,CaptMax,Major/National/Low Cost,Poland,16850.0,38.6,66845.127073
7,LOT Polish Airlines,CaptMin,Major/National/Low Cost,Poland,16850.0,38.6,60223.546741
10,Eurowings GmbH,CaptMax,Major/National/Low Cost,Germany,51660.0,62.9,202851.409070
11,Eurowings GmbH,CaptMin,Major/National/Low Cost,Germany,51660.0,62.9,120139.082655
12,DC Aviation,CaptMax,Fractional/Corporate,Germany,51660.0,62.9,123629.027065
13,DC Aviation,CaptMin,Fractional/Corporate,Germany,51660.0,62.9,102023.120819
15,ASL Airlines Belgium,CaptMin,Cargo,Belgium,50490.0,65.6,80513.960892
17,Greater Bay Airlines,CaptMin,Major/National/Low Cost,Hong Kong,54460.0,75.7,122296.498944
18,Eurowings Europe Ltd,CaptMax,Major/National/Low Cost,Malta,NaN,61.4,77974.542432
19,Eurowings Europe Ltd,CaptMin,Major/National/Low Cost,Malta,NaN,61.4,50126.326816
20,Avion Express,CaptMax,Charter,Lithuania,NaN,48.8,70829.130090
21,Avion Express,CaptMin,Charter,Lithuania,NaN,48.8,64390.118263
22,Corendon Airlines,CaptMax,Major/National/Low Cost,Turkey,9900.0,28.1,80487.647829
23,Corendon Airlines,CaptMin,Major/National/Low Cost,Turkey,9900.0,28.1,67609.624176
24,Hifly,CaptMax,Charter,Portugal,23890.0,45.3,257560.473053
25,Hifly,CaptMin,Charter,Portugal,23890.0,45.3,236097.100298
26,Air Japan,CaptMax,Legacy,Japan,42650.0,64.6,193080.000000
27,Air Japan,CaptMin,Legacy,Japan,42650.0,64.6,131160.000000
28,Air Hamburg Luftverkehrsgesellschaft mbH,CaptMax,Fractional/Corporate,Germany,51660.0,62.9,115902.212874
29,Air Hamburg Luftverkehrsgesellschaft mbH,CaptMin,Fractional/Corporate,Germany,51660.0,62.9,77268.141916
30,Aerowest,CaptMax,Fractional/Corporate,Germany,51660.0,62.9,119587.524029
31,Aerowest,CaptMin,Fractional/Corporate,Germany,51660.0,62.9,72023.971865
32,Austrian,CaptMax,Major/National/Low Cost,Austria,52760.0,66.0,189261.874611
33,Austrian,CaptMin,Major/National/Low Cost,Austria,52760.0,66.0,119121.718787
34,Heston Airlines,CaptMax,Charter,Lithuania,NaN,48.8,115902.212874
35,Heston Airlines,CaptMin,Charter,Lithuania,NaN,48.8,51512.094611
36,HOP,CaptMax,Regional,France,44160.0,68.7,156598.819956
37,HOP,CaptMin,Regional,France,44160.0,68.7,81459.978662
38,Aegean Airlines,CaptMax,Major/National/Low Cost,Greece,20000.0,54.6,103057.338256
39,Aegean Airlines,CaptMin,Major/National/Low Cost,Greece,20000.0,54.6,65956.696484
40,Virgin Atlantic Airways,CaptMax,Major/National/Low Cost,United Kingdom,44480.0,61.5,207860.208908
41,Virgin Atlantic Airways,CaptMin,Major/National/Low Cost,United Kingdom,44480.0,61.5,163248.902562
42,Loganair,CaptMax,Regional,United Kingdom,44480.0,61.5,97279.813223
43,Loganair,CaptMin,Regional,United Kingdom,44480.0,61.5,60799.883264
44,KLM (Royal Dutch Airlines),CaptMax,Legacy,NaN,NaN,NaN,NaN
45,KLM (Royal Dutch Airlines),CaptMin,Legacy,NaN,NaN,NaN,NaN
46,Private Wings Flugcharter GmbH,CaptMax,Charter,Germany,51660.0,62.9,77268.141916
47,Private Wings Flugcharter GmbH,CaptMin,Charter,Germany,51660.0,62.9,73404.734820
48,Volotea,CaptMax,Major/National/Low Cost,Spain,29690.0,50.6,111266.124359
49,Volotea,CaptMin,Major/National/Low Cost,Spain,29690.0,50.6,60526.711167
50,Global Jet,CaptMax,Fractional/Corporate,Switzerland,90600.0,114.2,196935.968878
51,Global Jet,CaptMin,Fractional/Corporate,Switzerland,90600.0,114.2,72961.764498
52,European Air Transport Leipzig GmbH,CaptMax,Cargo,Germany,51660.0,62.9,145676.203559
53,European Air Transport Leipzig GmbH,CaptMin,Cargo,Germany,51660.0,62.9,114266.703870
54,Wizz Air UK,CaptMax,Major/National/Low Cost,United Kingdom,44480.0,61.5,206719.603098
55,Wizz Air UK,CaptMin,Major/National/Low Cost,United Kingdom,44480.0,61.5,145919.719834
56,Eurowings Discover,CaptMax,Major/National/Low Cost,Germany,51660.0,62.9,161619.196841
57,Eurowings Discover,CaptMin,Major/National/Low Cost,Germany,51660.0,62.9,107531.497500
58,Air Serbia,CaptMax,Major/National/Low Cost,Serbia,NaN,37.2,89805.486375
59,Air Serbia,CaptMin,Major/National/Low Cost,Serbia,NaN,37.2,71844.389100
60,Tassili Airlines,CaptMax,Charter,Algeria,NaN,27.6,108000.000000
61,Tassili Airlines,CaptMin,Charter,Algeria,NaN,27.6,60000.000000
62,Air Nostrum,CaptMax,Major/National/Low Cost,Spain,29690.0,50.6,95526.373066
63,Air Nostrum,CaptMin,Major/National/Low Cost,Spain,29690.0,50.6,59784.477374
64,Jet2.com,CaptMax,Major/National/Low Cost,United Kingdom,44480.0,61.5,158079.696487
65,Jet2.com,CaptMin,Major/National/Low Cost,United Kingdom,44480.0,61.5,158079.696487
67,Trade Air,CaptMin,Charter,Croatia,17630.0,46.7,35665.686506
68,Flexjet Europe,CaptMax,Fractional/Corporate,Malta,NaN,61.4,150243.609281
69,Flexjet Europe,CaptMin,Fractional/Corporate,Malta,NaN,61.4,125674.856122
70,CityJet,CaptMax,Regional,Ireland,76110.0,70.5,121072.529652
71,CityJet,CaptMin,Regional,Ireland,76110.0,70.5,121072.529652
72,SundAir,CaptMax,Charter,Germany,51660.0,62.9,143687.706298
73,SundAir,CaptMin,Charter,Germany,51660.0,62.9,82675.166289
76,Brussels Airlines,CaptMax,Major/National/Low Cost,Belgium,50490.0,65.6,182930.595990
77,Brussels Airlines,CaptMin,Major/National/Low Cost,Belgium,50490.0,65.6,115709.901628
80,Air Dolomiti,CaptMax,Regional,Italy,35990.0,61.3,125041.746260
81,Air Dolomiti,CaptMin,Regional,Italy,35990.0,61.3,116828.400335
84,Excellent Air GmbH,CaptMax,Fractional/Corporate,Germany,51660.0,62.9,90146.165568
85,Excellent Air GmbH,CaptMin,Fractional/Corporate,Germany,51660.0,62.9,77268.141916
86,Zimex Aviation,CaptMax,Regional,Switzerland,90600.0,114.2,65420.360155
87,Zimex Aviation,CaptMin,Regional,Switzerland,90600.0,114.2,24468.244940
88,PADAVIATION,CaptMax,Fractional/Corporate,Germany,51660.0,62.9,93156.067481
89,PADAVIATION,CaptMin,Fractional/Corporate,Germany,51660.0,62.9,78824.364791
93,Buzz,CaptMin,Charter,Poland,16850.0,38.6,90146.165568
94,Jet Time,CaptMax,Charter,Denmark,68300.0,78.6,167052.766969
95,Jet Time,CaptMin,Charter,Denmark,68300.0,78.6,114263.713157
96,Lufthansa CityLine,CaptMax,Regional,Germany,51660.0,62.9,218784.743835
97,Lufthansa CityLine,CaptMin,Regional,Germany,51660.0,62.9,167015.088751
98,Luxair,CaptMax,Regional,Luxembourg,88190.0,73.2,206048.378442
99,Luxair,CaptMin,Regional,Luxembourg,88190.0,73.2,90146.165568
100,Swiss International Air Lines,CaptMax,Legacy,Switzerland,90600.0,114.2,239933.741793
101,Swiss International Air Lines,CaptMin,Legacy,Switzerland,90600.0,114.2,121672.561004
102,Atlantic Airways,CaptMax,Regional,Iceland,63460.0,83.3,92859.135885
103,Atlantic Airways,CaptMin,Regional,Iceland,63460.0,83.3,58835.397394
104,Exxaero,CaptMax,Fractional/Corporate,Netherlands,55200.0,68.6,83707.153742
105,Exxaero,CaptMin,Fractional/Corporate,Netherlands,55200.0,68.6,64390.118263

In [80]:
df_model.to_csv("df_model.csv", index=False)