# SETUP

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import re
import pycountry
from countryinfo import CountryInfo
from currencies import Currency
import requests
import json
from bs4 import BeautifulSoup

# Scraping metadata PPJN and clean country names

In [2]:
url = "https://www.pilotjobsnetwork.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

country_airlines = []

elements = soup.find_all("a", href=lambda href: href and "jobs" in href)
for element in elements :
    text = element.text.strip()
    country_airlines.append(text)

# country_airlines

In [3]:
airlines_by_country = []
for text in country_airlines:
    # Regex pattern to match the country and airline
    apattern = r'^[^-]*-[^-]*-\s*([^(]+)'
    cpattern = r'(\w+)\s\((\w{2})\)'
    

    country_match = re.search(cpattern, text)
    country = country_match.group(1)
    airline_match = re.search(apattern, text)
    airline = airline_match.group(1)

    # Append the airline and country to the list
    airlines_by_country.append((airline, country))

# Create the table
df = pd.DataFrame(airlines_by_country, columns=['Airline', 'Country'])
df['Country'] = df['Country'].replace('UK', 'United Kingdom')
# # Print the table
# df.head(10)

In [4]:
# Define countries standard name (ISO)
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return None
# Add a column to the dataframe with the ISO code of the country
df['ISO'] = df['Country'].apply(map_country_name)

In [5]:
df.head(10)

                                    Airline    Country        ISO
0                            Eurowings GmbH    Germany    Germany
1                      Greater Bay Airlines       Kong  Hong Kong
2                      Eurowings Europe Ltd      Malta      Malta
3                             Avion Express  Lithuania  Lithuania
4                         Corendon Airlines     Turkey     Turkey
5                                     Hifly   Portugal   Portugal
6                                 Air Japan      Japan      Japan
7  Air Hamburg Luftverkehrsgesellschaft mbH    Germany    Germany
8                                  Aerowest    Germany    Germany
9                                  Austrian    Austria    Austria

In [6]:
df.to_csv("metadata_ctry_airlines.csv")

# Extract gross income per country and Currency

In [7]:
url_3 = "https://www.worlddata.info/average-income.php"
df_3 = pd.read_html(url_3, attrs={'class': 'std100 hover', 'id': 'tabsort'})
df_3 = df_3[0]
df_3['Country'] = df_3['Country'].str.replace(' \*', '', regex=True)

In [8]:
# Define countries standard name (ISO)
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return None
# Add a column to the dataframe with the ISO code of the country
df_3['ISO'] = df_3['Country'].apply(map_country_name)

In [9]:
# Define a function to get the ISO code for each country
def get_iso_code(country_name):
    try:
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.alpha_3
    except LookupError:
        return None
df_3['ISO_code'] = df_3['ISO'].apply(get_iso_code)

In [10]:
def get_currency(country):
    try:
        currency = CountryInfo(country).currencies()
        return currency
    except LookupError:
        return None
df_3['Currency'] = df_3['ISO'].apply(get_currency)

def first_item_to_string(arr):
    return str(arr[0])
# df_3['Currency'] = df_3['Currency'].apply(first_item_to_string)

In [11]:
df_3.columns

Index(['Rank', 'Country', 'Avg. income per year', 'Avg. income per month',
       'ISO', 'ISO_code', 'Currency'],
      dtype='object')

In [12]:
df_3.columns = ['Rank', 'Country', 'yearly_income', 'monthly_income', 'ISO', 'ISO_code', 'Currency']

In [13]:
df_3["yearly_income"] = df_3["yearly_income"].str.replace(",", "").str.replace("$", "").astype(float)
df_3["monthly_income"] = df_3["monthly_income"].str.replace(",", "").str.replace("$", "").astype(float)
df_3["Currency"] = df_3["Currency"].str.replace("[',\[\]]", "")

/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_12680/68737043.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_3["yearly_income"] = df_3["yearly_income"].str.replace(",", "").str.replace("$", "").astype(float)
/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_12680/68737043.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_3["monthly_income"] = df_3["monthly_income"].str.replace(",", "").str.replace("$", "").astype(float)
/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_12680/68737043.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_3["Currency"] = df_3["Currency"].str.replace("[',\[\]]", "")

In [14]:
df_3.to_csv("metadata_ctry_salary_2.csv")

In [15]:
df_3

,Rank,Country,yearly_income,monthly_income,ISO,ISO_code,Currency
0,1,Monaco,186080.0,15507.0,Monaco,MCO,NaN
1,2,Bermuda,122470.0,10206.0,Bermuda,BMU,NaN
2,3,Switzerland,90600.0,7550.0,Switzerland,CHE,NaN
3,4,Luxembourg,88190.0,7349.0,Luxembourg,LUX,NaN
4,5,Norway,83880.0,6990.0,Norway,NOR,NaN
...,...,...,...,...,...,...,...
64,65,Cambodia,1580.0,132.0,Cambodia,KHM,NaN
65,66,Pakistan,1470.0,123.0,Pakistan,PAK,NaN
66,67,Nepal,1220.0,102.0,Nepal,NPL,NaN
67,68,Timor-Leste,1140.0,95.0,Timor-Leste,TLS,NaN
68,69,Afghanistan,390.0,33.0,Afghanistan,AFG,NaN

# Load clean database and get the XR for currencies

In [16]:
df_V1 = pd.read_csv("METADATA_V1.csv")
df_V1

        Country  year_income_gross  month_income_gross          ISO Currency
0        Monaco             186080               15507       Monaco      EUR
1       Bermuda             122470               10206      Bermuda      BMD
2   Switzerland              90600                7550  Switzerland      CHF
3    Luxembourg              88190                7349   Luxembourg      EUR
4        Norway              83880                6990       Norway      NOK
..          ...                ...                 ...          ...      ...
64     Pakistan               1470                 123     Pakistan      PKR
65        Nepal               1220                 102        Nepal      NPR
66  Timor-Leste               1140                  95  Timor-Leste      LCU
67     Ethiopia                940                  78     Ethiopia      ETB
68  Afghanistan                390                  33  Afghanistan      AFN

[69 rows x 5 columns]

In [17]:
# from forex_python.converter import CurrencyRates
# import pandas as pd
# import datetime
# c = CurrencyRates()

# def get_rate(x):
#     dt = datetime.datetime(2023, 3, 3, 10, 00, 00, 100000)
#     try:
#         op = c.get_rate(x, 'USD', dt)
#     except Exception as re:
#         print(re)
#         op=None
#     return op

# df_V1['Rate'] = df_V1['Currency'].apply(get_rate)

# df_V1

Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready
Currency Rates Source Not Ready

,Country,year_income_gross,month_income_gross,ISO,Currency,Rate
0,Monaco,186080,15507,Monaco,EUR,None
1,Bermuda,122470,10206,Bermuda,BMD,None
2,Switzerland,90600,7550,Switzerland,CHF,None
3,Luxembourg,88190,7349,Luxembourg,EUR,None
4,Norway,83880,6990,Norway,NOK,None
...,...,...,...,...,...,...
64,Pakistan,1470,123,Pakistan,PKR,None
65,Nepal,1220,102,Nepal,NPR,None
66,Timor-Leste,1140,95,Timor-Leste,LCU,None
67,Ethiopia,940,78,Ethiopia,ETB,None
68,Afghanistan,390,33,Afghanistan,AFN,None

In [40]:
payload = {}
headers= {
  "apikey": "pPf6uwtTqHvmPDaWzHFzihcpKRAK4SC5"}
from_usd = "USD"
amount_convert = 1
def convert_usd(code_currency):
    try:
        response = requests.request("GET", f"https://api.apilayer.com/exchangerates_data/convert?to={code_currency}&from={from_usd}&amount={amount_convert}", headers=headers, data = payload)
        return json.loads(response.text)["info"]["rate"]
    except LookupError:
        return None

df_V1['XR'] = df_V1['Currency'].apply(convert_usd)

In [42]:
df_V2 = df_V1[["Currency", "XR"]]
df_V2 = df_V2.drop_duplicates()

   Currency            XR
0       EUR      0.937799
1       BMD      1.000000
2       CHF      0.932565
4       NOK     10.474465
6       USD      1.000000
7       DKK      6.978540
8       SGD      1.345925
9       ISK    140.579907
10      QAR      3.640992
11      SEK     10.503835
12      AUD      1.497560
14      HKD      7.849940
19      ILS      3.599750
20      CAD      1.362805
21      MOP      8.048370
22      NZD      1.612865
23      GBP      0.832810
25      JPY    135.857979
26      AED      3.672815
28      KRW   1303.980124
29      BND      1.340589
32      BHD      0.377047
33      SAR      3.753505
35      HUF    354.319761
36      HRK      7.054794
37      PLN      4.395841
38      RON      4.615019
39      CRC    553.223942
40      CNY      6.934017
41      RUB     75.458994
42      MYR      4.472505
43      ARS    199.352503
44      TRY     18.913398
45      MXN     17.972750
46      BRL      5.153702
47      THB     34.559689
48      ZAR     18.337480
49      COP   4732.010000
51      IDR  15390.750000
52      UAH     36.768259
53      LKR    332.283708
54      MAD     10.374581
55      VND  23650.000000
56      PHP     55.063497
57      IRR  42274.999712
58      EGP     30.780703
59      BDT    104.485014
60      INR     81.774594
61      NGN    460.460112
62      XAF    613.858607
63      KHR   4035.952070
64      PKR    272.698826
65      NPR    130.484866
66      LCU           NaN
67      ETB     53.572515
68      AFN     88.589649

In [43]:
df_V2.to_csv("XR_list.csv")

# Get the index cost of living from numbeo

In [19]:
url_4 = "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp"
df_4 = pd.read_html(url_4, attrs={'id': 't2'})
df_4 = df_4[0]

In [20]:
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return name
# Add a column to the dataframe with the ISO code of the country
df_4['ISO'] = df_4['Country'].apply(map_country_name)

df_4= df_4.replace("Hong Kong (China)", "Hong Kong")
df_4= df_4.replace("Macao (China)", "Macao")
df_4= df_4.replace("Taiwan (China)", "Taiwan")
df_4= df_4.replace("Kosovo (Disputed Territory)", "Kosovo")
df_4 = df_4[['ISO','Cost of Living Index']]
df_4 = df_4.dropna(how='any',axis=0)

In [21]:
df_4.to_csv("cost_of_living_index.csv")

# Get the average salary income tax

In [22]:
# url_5 = "https://tradingeconomics.com/country-list/personal-income-tax-rate"
# df_5 = pd.read_html(url_5, attrs={'id': 'table'})
# df_5 = df_5[0]

In [23]:
df_5 = pd.read_csv("salary_tax.csv")
# Define a function to map country names to their ISO codes
def map_country_name(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return name
# Add a column to the dataframe with the ISO code of the country
df_5['ISO'] = df_5['Country'].apply(map_country_name)
df_5["Last"].astype(float)
df_5.columns = ["Country", "Income_tax", "ISO"]

In [24]:
df_5.to_csv("income_tax_updated.csv")

# Inflation rate

In [46]:
#Load inflation xls and add ISO countries
df_V3 = pd.read_csv("SQ_pred_database - 7 - Inflation.csv")
df_V3 

# Define a function to get the ISO name for each country
def get_iso_code(name):
    try:
        return pycountry.countries.search_fuzzy(name)[0].name
    except LookupError:
        return None
df_V3['ISO_name'] = df_V3['Country'].apply(get_iso_code)
df_V3

,ISO_code,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,ISO_name
0,ABW,Aruba,"2,08","4,32","0,63","-2,37","0,42","0,48","-0,89","-0,47","3,58","4,26","1,22","0,74","6,04",Aruba
1,AFG,Afghanistan,"2,18","11,8","6,44","7,39","4,67","-0,66","4,38","4,98","0,63","2,3","5,44","5,06",NaN,Afghanistan
2,AGO,Angola,"14,48","13,48","10,28","8,78","7,3","9,16","32,38","29,84","19,63","17,08","21,02","23,85","21,35",Angola
3,ALB,Albania,"3,57","3,41","2,03","1,93","1,62","1,91","1,29","1,99","2,03","1,41","1,62","2,04","6,73",Albania
4,ARE,United Arab Emirates,"0,88","0,88","0,66","1,09","2,34","4,07","1,62","1,97","3,06","-1,93","-2,08","0,18","5,22",United Arab Emirates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,WSM,Samoa,"-0,2","2,88","6,19","-0,21","-1,24","1,92","0,13","1,3","4,2","2,19","-1,57","-3,01","8,75",Samoa
189,YEM,"Yemen, Rep.","11,17","19,54","9,89","10,97","8,1","39,4",5,"30,4","27,6",10,"26,18","45,7","43,85",None
190,ZAF,South Africa,"4,06","5,02","5,72","5,78","6,14","4,51","6,59","5,27","4,5","4,13","3,22","4,61",7,South Africa
191,ZMB,Zambia,"8,5","6,44","6,59","6,99","7,82","10,11","17,86","6,58","7,49","9,8","15,73","22,02","10,99",Zambia
192,ZWE,Zimbabwe,"3,05","3,47","3,72","1,63","-0,21","-2,41","-1,57","0,91","10,61","255,29","557,21","98,55","284,94",Zimbabwe

In [47]:
df_V3.to_csv("inlfation_rate_ISO.csv")

# Get the categories by Airline : Passengers, business, cargo

In [109]:
from tqdm.contrib.concurrent import thread_map
pd.set_option('display.max_colwidth', None)

# GET AIRLINES URLS
url = 'https://www.pilotjobsnetwork.com/'
max_urls = 5

def get_airlines_urls(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href and 'jobs/' in href:
            airline_url = url + href
            airline_name = link.text.strip()
            yield airline_url, airline_name # crée un générateur

# GET INFO FROM PAGES
def get_airline_tables(airline_tuple):
    airline_url, airline_name = airline_tuple
    try:
        response = requests.get(url)
        # Parse the HTML content of the response using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
        # Find all text that contains the phrase "pilot jobs --->"
        matching_text = soup.find_all(text=lambda text: text and "pilot jobs --->" in text)
        # Regular expression to match text between parentheses
        for text in matching_text:
            paren_regex = r'\((.*?)\)'
            category = re.search(paren_regex, matching_text)
            if category:
                return [airline_url, airline_name] + category.group(1)
    
    except NameError:
        return airline_url

In [110]:
list_salaries = list(thread_map(get_airline_tables, get_airlines_urls(url)))
# print dans un excel le list_salaries

0it [00:00, ?it/s]/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_12680/3456941442.py:27: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  matching_text = soup.find_all(text=lambda text: text and "pilot jobs --->" in text)
501it [01:10,  7.15it/s]

In [113]:
list_salaries

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [48]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.pilotjobsnetwork.com/operatorlist.php?reg=North+America'  # replace with actual URL
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.select_one('body > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr > td.carea > table > tbody > tr > td > table > tbody > tr:nth-child(2)')

df = pd.read_html(str(table))[0]

ValueError: No tables found

In [67]:
url_8 = 'https://www.pilotjobsnetwork.com/operatorlist.php?reg=North+America'

response = requests.get(url_8).content
soup = BeautifulSoup(response)
table_1 = soup.find_all("table")[0].content

df_8 = pd.read_html(table_1)
df_8

TypeError: cannot parse from 'NoneType'

In [87]:
url_8 = 'https://www.pilotjobsnetwork.com/operatorlist.php?reg=North+America'

response = requests.get(url_8).content
soup = BeautifulSoup(response, "html.parser")


table_1 = soup.body.table

table_1
# df_8 = pd.read_html(str(table_1))
# df_8

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="100%">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td><img src="i/top1.jpg"/></td>
<td background="i/top1bg.jpg" width="100%"><img src="i/spacer.gif"/></td>
</tr>
</table>
</td>
</tr>
<tr>
<td background="i/top2bg.gif" width="100%">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td><img height="24" src="i/spacer.gif" width="40"/></td>
<td><a href="#"><img border="0" src="i/l1.jpg"/></a></td>
<td> </td>
<td><a href="#"><img border="0" src="i/l2.jpg"/></a></td>
<td> </td>
<td><a href="#"><img border="0" src="i/l3.jpg"/></a></td>
<td> </td>
<td><a href="#"><img border="0" src="i/l4.jpg"/></a></td>
<td> </td>
<td><a href="#"><img border="0" src="i/l5.jpg"/></a></td>
<td> </td>
<td width="100%"><img src="i/spacer.gif"/></td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="395" width="100%">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="90%">
<table border="0" cellpadding="0" cellspacing="0" width="962">
<tr>
<td><img src="i/spacer.gif"/></td>
<td class="carea" valign="top">
<table bgcolor="#FFFFFF" border="0" bordercolor="#FFFFFF" cellpadding="0" cellspacing="0" width="962">
<tr>
<td colspan="7" height="599" valign="top">
<table border="0" cellpadding="5" cellspacing="0" height="429" width="100%">
<tr>
<td colspan="19" height="232" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="901">
<tr>
<td height="218" valign="top" width="477"> <font face="Arial, Helvetica, sans-serif" size="2"><a href="">Home</a>
                                    ---&gt;
North America </font> <br/>
<br/>
<table border="1" cellpadding="5" cellspacing="0" height="30" width="808">
<tr>
<td valign="top" width="153"> <font color="#000000" face="Arial, Helvetica, sans-serif" size="2">To
                                          <u>add a new operator</u> to the site
                                          please fill in the <a href="new.php">new
                                          operator form.</a></font>
<p><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">To
                                            <u>update an existing operator</u>
                                            please go to its factfile and click
                                            on<br/>
                                            one of the "submit new information"
                                            links.</font></p>
</td>
<td valign="top" width="346">
<p><font face="Arial, Helvetica, sans-serif" size="2"><u>Base
                                            Search </u></font></p>
<p><font face="Arial, Helvetica, sans-serif" size="2">For
                                            the time being please use Google to
                                            search for bases.</font></p>
<p><font face="Arial, Helvetica, sans-serif" size="2">e.g.
                                            to search for airlines with a base
                                            in Edinburgh (EDI) you can use the
                                            following search term in Google:</font></p>
<p><font face="Arial, Helvetica, sans-serif" size="2">"Edinburgh
                                            OR EDI site:pilotjobsnetwork.com/factfile.php"</font><font face="Arial, Helvetica, sans-serif" size="2">
</font></p>
</td>
<td valign="top" width="271">
<p><font face="Arial, Helvetica, sans-serif" size="2"><u>Fleet
                                            Search</u> </font></p>
<p><font face="Arial, Helvetica, sans-serif" size="2">Please
                                            use this form to search the 'current
                                            fleet' and 'fleet orders' fields.
                                            This tool does NOT search the fleet
                                            fields within the detailed payscales.</font></p>
<font face="Arial, Helvetica, sans-serif" size="2">Search
                                          terms are 'wildcards' so:<br/>
<br/>
                                          "737" will find "7 x B737-300/800"<br/>
                                          "800" will find "3 x B737-300/800" </font><font size="2"><br/>
<br/>
<form action="operatorlist.php" method="post"><input name="fleet" size="20" type="text"/><br/><input name="reg" type="HIDDEN" value="North America"/><input name="submit" type="submit" value="Search fleet fields"/></form></font><font face="Arial, Helvetica, sans-serif" size="2">
</font></td>
</tr>
</table>
<p><font face="Arial, Helvetica, sans-serif" size="2"><u>Payscale
                                      Key:</u><br/>
                                      b = brief payscale<br/>
                                      D = detailed payscale</font></p>
<p></p>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="19" height="27" valign="top">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><b><font face="Arial, Helvetica, sans-serif" size="2">Legacy</font></b><br/>
<br/><font face="Arial, Helvetica, sans-serif" size="1">Canada</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Air_Canada"><font color="#FFFFFF">_</font>Air Canada</a> b D</font><br/><br/><font face="Arial, Helvetica, sans-serif" size="1">USA</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/American"><font color="#FFFFFF">_</font>American</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Continental_Airlines"><font color="#FFFFFF">_</font>Continental Airlines</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Delta_Air_Lines"><font color="#FFFFFF">_</font>Delta Air Lines</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Northwest"><font color="#FFFFFF">_</font>Northwest</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/US_Airways"><font color="#FFFFFF">_</font>US Airways</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/United_Airlines"><font color="#FFFFFF">_</font>United Airlines</a> b D</font><br/> </td>
<td valign="top" width="150"><b><font face="Arial, Helvetica, sans-serif" size="2">Major/Nat'l/Low
                                    Cost </font></b><br/>
<br/><font face="Arial, Helvetica, sans-serif" size="1">Canada</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Air_Canada_Jazz"><font color="#FFFFFF">_</font>Air Canada Jazz</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/CanJet"><font color="#FFFFFF">_</font>CanJet</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Jazz_Aviation"><font color="#FFFFFF">_</font>Jazz Aviation</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/WestJet"><font color="#FFFFFF">_</font>WestJet</a> D</font><br/><br/><font face="Arial, Helvetica, sans-serif" size="1">USA</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/ATA"><font color="#FFFFFF">_</font>ATA</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/AirTran_Airways"><font color="#FFFFFF">_</font>AirTran Airways</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Airborne"><font color="#FFFFFF">_</font>Airborne</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Alaska_Airlines"><font color="#FFFFFF">_</font>Alaska Airlines</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Allegiant_Air"><font color="#FFFFFF">_</font>Allegiant Air</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/America_West"><font color="#FFFFFF">_</font>America West</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/American_Eagle"><font color="#FFFFFF">_</font>American Eagle</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Atlantic_Southeast_(ASA)"><font color="#FFFFFF">_</font>Atlantic Southeast (ASA)</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Casino_Express"><font color="#FFFFFF">_</font>Casino Express</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Chautauqua_Airlines"><font color="#FFFFFF">_</font>Chautauqua Airlines</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Comair"><font color="#FFFFFF">_</font>Comair</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Compass_Airlines"><font color="#FFFFFF">_</font>Compass Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Evergreen_International_(Closed)"><font color="#FFFFFF">_</font>Evergreen International (Closed)</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/ExpressJet_Airlines"><font color="#FFFFFF">_</font>ExpressJet Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Frontier_Airlines"><font color="#FFFFFF">_</font>Frontier Airlines</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Hawaiian_Airlines"><font color="#FFFFFF">_</font>Hawaiian Airlines</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Horizon_Air"><font color="#FFFFFF">_</font>Horizon Air</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Independence_Air"><font color="#FFFFFF">_</font>Independence Air</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Independence_Air"><font color="#FFFFFF">_</font>Independence Air</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/JetBlue_Airways"><font color="#FFFFFF">_</font>JetBlue Airways</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Midwest_Airlines"><font color="#FFFFFF">_</font>Midwest Airlines</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Southwest_Airlines"><font color="#FFFFFF">_</font>Southwest Airlines</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Spirit_Airlines"><font color="#FFFFFF">_</font>Spirit Airlines</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Sun_County_Airlines"><font color="#FFFFFF">_</font>Sun County Airlines</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Virgin_America_(Closed)"><font color="#FFFFFF">_</font>Virgin America (Closed)</a></font><br/> </td>
<td valign="top" width="150"><b><font face="Arial, Helvetica, sans-serif" size="2">Charter</font></b><br/>
<br/><font face="Arial, Helvetica, sans-serif" size="1">Canada</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Air_Transat"><font color="#FFFFFF">_</font>Air Transat</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/North_Caiboo_Air"><font color="#FFFFFF">_</font>North Caiboo Air</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Provincial_Aerospace"><font color="#FFFFFF">_</font>Provincial Aerospace</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Skyservice_Airlines"><font color="#FFFFFF">_</font>Skyservice Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Sunwing_Airlines"><font color="#FFFFFF">_</font>Sunwing Airlines</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Voyageur_Airways"><font color="#FFFFFF">_</font>Voyageur Airways</a></font><br/><br/><font face="Arial, Helvetica, sans-serif" size="1">USA</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/ATI"><font color="#FFFFFF">_</font>ATI</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Amerijet"><font color="#FFFFFF">_</font>Amerijet</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/JetSelect_Aviation"><font color="#FFFFFF">_</font>JetSelect Aviation</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Miami_Air"><font color="#FFFFFF">_</font>Miami Air</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/North_American"><font color="#FFFFFF">_</font>North American</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Omni_Air_International"><font color="#FFFFFF">_</font>Omni Air International</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Pace_Airlines"><font color="#FFFFFF">_</font>Pace Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Pacific_Wings"><font color="#FFFFFF">_</font>Pacific Wings</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Ryan_International"><font color="#FFFFFF">_</font>Ryan International</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Swift_Air"><font color="#FFFFFF">_</font>Swift Air</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/TransMeridian_Airlines"><font color="#FFFFFF">_</font>TransMeridian Airlines</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/USA_3000"><font color="#FFFFFF">_</font>USA 3000</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/USA_Jet_Airlines"><font color="#FFFFFF">_</font>USA Jet Airlines</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Vision_Airlines"><font color="#FFFFFF">_</font>Vision Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/World_Airways"><font color="#FFFFFF">_</font>World Airways</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Xtra_Airways"><font color="#FFFFFF">_</font>Xtra Airways</a> b D</font><br/> </td>
<td valign="top" width="150"><b><font face="Arial, Helvetica, sans-serif" size="2">Cargo</font></b><br/>
<br/><font face="Arial, Helvetica, sans-serif" size="1">Canada</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Cargojet"><font color="#FFFFFF">_</font>Cargojet</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Kelowna"><font color="#FFFFFF">_</font>Kelowna</a> D</font><br/><br/><font face="Arial, Helvetica, sans-serif" size="1">USA</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/ABX_Air"><font color="#FFFFFF">_</font>ABX Air</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/AirNet_Express"><font color="#FFFFFF">_</font>AirNet Express</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/AirNow"><font color="#FFFFFF">_</font>AirNow</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Aloha_Air_Cargo"><font color="#FFFFFF">_</font>Aloha Air Cargo</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Ameriflight"><font color="#FFFFFF">_</font>Ameriflight</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Amerijet_International"><font color="#FFFFFF">_</font>Amerijet International</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Arrow_Air"><font color="#FFFFFF">_</font>Arrow Air</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Astar_Air_Cargo"><font color="#FFFFFF">_</font>Astar Air Cargo</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Atlas_Air"><font color="#FFFFFF">_</font>Atlas Air</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Centurion_Air_Cargo_(Closed)"><font color="#FFFFFF">_</font>Centurion Air Cargo (Closed)</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/DHL_USA"><font color="#FFFFFF">_</font>DHL USA</a> b</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Empire_Airlines"><font color="#FFFFFF">_</font>Empire Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Evergreen"><font color="#FFFFFF">_</font>Evergreen</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Express_Net"><font color="#FFFFFF">_</font>Express Net</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/FedEx"><font color="#FFFFFF">_</font>FedEx</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Flight_Express"><font color="#FFFFFF">_</font>Flight Express</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Gemini_Air_Cargo"><font color="#FFFFFF">_</font>Gemini Air Cargo</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Gemini_Worldwide_Airways"><font color="#FFFFFF">_</font>Gemini Worldwide Airways</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/IBC_Airways"><font color="#FFFFFF">_</font>IBC Airways</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Kalitta_Air_Cargo"><font color="#FFFFFF">_</font>Kalitta Air Cargo</a> b D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Lynden_Air_Cargo"><font color="#FFFFFF">_</font>Lynden Air Cargo</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Mountain_Air_Cargo"><font color="#FFFFFF">_</font>Mountain Air Cargo</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Murray_Aviation"><font color="#FFFFFF">_</font>Murray Aviation</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/National_Airlines"><font color="#FFFFFF">_</font>National Airlines</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Polar_Air_Cargo"><font color="#FFFFFF">_</font>Polar Air Cargo</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Silver_Airways"><font color="#FFFFFF">_</font>Silver Airways</a></font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Sky_Lease_Cargo"><font color="#FFFFFF">_</font>Sky Lease Cargo</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/Southern_Air"><font color="#FFFFFF">_</font>Southern Air</a> D</font><br/><font face="Arial, Helvetica, sans-serif" size="1"><a href="jobs/UPS"><font color="#FFFFFF">_</font>UPS</a> b D</font><br/> </td>
<td valign="top" width="150"><b><font face="Arial, Helvetica, sans-serif" size="2">Regional</font></b><br/>

In [93]:

# Send a GET request to the URL and get the HTML response
response = requests.get(url_8).content

# Use BeautifulSoup to parse the HTML response
soup = BeautifulSoup(response, 'html.parser')

# Find all <table> tags in the HTML and store them in a list
tables = soup.find_all('table')

# Loop through each table and convert it into a DataFrame using pandas
for i, table in enumerate(tables):
    df = pd.read_html(table)
    print(f'Table {i+1}:')
    print(df.head())

TypeError: 'NoneType' object is not callable

In [99]:
url_xx = "https://www.pilotjobsnetwork.com/jobs/Eurowings_GmbH"

import requests
from bs4 import BeautifulSoup

# URL of the webpage to scrape
url = url_xx

# Send a GET request to the URL and store the response
response = requests.get(url)

# Parse the HTML content of the response using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all text that contains the phrase "pilot jobs --->"
matching_text = soup.find_all(text=lambda text: text and "pilot jobs --->" in text)

# Print the matching text
print(matching_text)

[' (Major/National/Low Cost) \n                                    pilot jobs ---> Germany']

/var/folders/y9/x007ynb92t57yt7s517ct53w0000gn/T/ipykernel_12680/2679404383.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  matching_text = soup.find_all(text=lambda text: text and "pilot jobs --->" in text)

In [108]:
import re

# Regular expression to match text between parentheses
paren_regex = r'\((.*?)\)'

# Loop through each matching text and extract the text between parentheses
for text in matching_text:
    # Use regex to find the text between parentheses
    match = re.search(paren_regex, text)
    
    # If a match is found, print the text between parentheses
    if match:
        print(match.group(1))

        print(match)
        print(matching_text)

Major/National/Low Cost
<re.Match object; span=(1, 26), match='(Major/National/Low Cost)'>
[' (Major/National/Low Cost) \n                                    pilot jobs ---> Germany']

# Main data

In [25]:
url_3 = "https://www.pilotjobsnetwork.com/jobs/Aegean_Airlines"
df_3 = pd.read_html(url_3, attrs={'class': 'col-2'})
df_3 = df_3[0]

In [26]:
df_3

,0,1,2
0,NaN,NaN,NaN
1,Brief Payscale (please state whether before or...,Brief Payscale (please state whether before or...,last update
2,Capt top,5000/month net,16/Feb/15
3,Capt base,3200/month net,16/Feb/15
4,FO top,2100/Month Gross,19/Mar/18
5,FO base,1800,5/Dec/22
6,SO top,NaN,NaN
7,SO base,NaN,NaN
8,FE top,NaN,NaN
9,FE base,NaN,NaN
10,submit new information,submit new information,submit new information
11,Additional Duty Pay / Per Diems for Aegean Air...,Additional Duty Pay / Per Diems for Aegean Air...,last update
12,Capt,3500 gross yearly expect 50%+ tax per month,14/May/18
13,FO,0.02 cents/km and 9.80/sector,7/Mar/16
14,SO,NaN,NaN
15,FE,NaN,NaN
16,submit new information,submit new information,submit new information
17,Pension Details for Aegean Airlines Pilot Jobs,Pension Details for Aegean Airlines Pilot Jobs,last update
18,Company now offers to pay 1% of monthly earnin...,Company now offers to pay 1% of monthly earnin...,30/May/17
19,submit new information,submit new information,submit new information
20,Conditions for Aegean Airlines Pilot Jobs,Conditions for Aegean Airlines Pilot Jobs,last update
21,Roster,8-10 days off per month. bid for a 3 day block...,14/May/18
22,Leave,three blocks of 10 days per year.(normal days ...,26/Mar/05
23,Staff travel,Currently using new myIDtravel system. Number ...,16/Feb/15
24,Discounted holidays,No,12/May/10
25,submit new information,submit new information,submit new information
26,<!-- yieldbuild_site = 7276; yieldbuild_loc = ...,<!-- yieldbuild_site = 7276; yieldbuild_loc = ...,<!-- yieldbuild_site = 7276; yieldbuild_loc = ...